@import url(default.css);

:root {
  --color-1: #fff;
  --family-main: "Open Sans", sans-serif;
  --family-bold: "Bebas Neue", sans-serif;
}

/* intro */

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  color: #fff;
}

.nav {
  z-index: 1;
  height: 20%;
}

nav ul li {
  margin-right: 50px;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: inherit;
}

.block-container {
  height: 6rem;
  display: flex;
  align-items: center;
}

.hover-animate {
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.hover-animate::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--color-1);
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.hover-animate:hover::before {
  width: 100%;
  left: 0;
}

.lang::after {
  content: "";
  height: 35px;
  width: 1px;
  transform: translate(15px, -5px);
  background-color: #c9c9c9;
  position: absolute;
}

.lang {
  margin-right: 30px;
}

.fa-xbox {
  margin-right: 15px;
  font-size: 30px;
  color: #ffb548;
  transition: color 0.2s ease-out;
}

.fa-steam {
  font-size: 30px;
  color: #ffb548;
  transition: color 0.2s ease-out;
}

.fa-xbox:hover {
  color: #107b10;
}

.fa-steam:hover {
  color: #000000;
}

.main {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: var(--family-bold);
  letter-spacing: 10px;
  transform: translateY(-50px);
}

.main-header {
  font-size: 120px;
  line-height: 1em;
}

.main-title {
  font-size: 35px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.btn {
  padding: 15px;
  border: none;
  font: inherit;
  color: #000;
  font-family: var(--family-main);
  font-weight: bold;
  font-size: 13px;
  border-radius: 5px;
  background: linear-gradient(to bottom, #ffb548, #f3af34);
  cursor: pointer;
}

.btn-main {
  display: flex;
}

.btn-main-header {
  margin-right: 30px;
}

.btn-main-header::after {
  content: "";
  width: 1px;
  height: 25px;
  background-color: #000;
  position: absolute;
  transform: translateX(15px);
}

.main-story {
  position: absolute;
  bottom: 20px;
  text-align: center;
  font-size: 15px;
  animation: 2s infinite alternate story-animate;
}

@keyframes story-animate {
  from {
    transform: translateY(-20px);
  }

  to {
    transform: translateY(5px);
  }
}

/* what is */

.background-what {
  background: url("img/what-is/whatbg.jpg") center no-repeat;
}

.what {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: var(--family-bold);
}

.block-what-1 {
  width: 65%;
  height: 100%;
}

.block-what-2 {
  width: 35%;
  height: 100%;
}

.what-title {
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: normal;
}

.what-header {
  font-size: 100px;
  line-height: 6rem;
  letter-spacing: 2px;
}

.what-header::after {
  content: "";
  position: absolute;
  width: 920px;
  height: 3px;
  background-color: #fff;
  z-index: 1;
}

.what-info {
  font-family: var(--family-main);
  font-weight: normal;
  font-size: 15px;
  width: 40%;
  margin-left: auto;
  margin-top: 4rem;
  margin-right: 2rem;
}

.what-info > b {
  font-weight: bold;
}

.what-span::after {
  content: "";
  position: absolute;
  width: 6.2rem;
  height: 4px;
  opacity: 0.8;
  transform: translate(-100px, 16px);
  background-color: #ffb548;
}

.what-img {
  width: 450px;
  height: 600px;
  border-radius: 15px;
  display: none;
}

.what-img.active {
  display: block;
}

.what-img-place {
  opacity: 0;
}

.what-right {
  font-size: 30px;
  position: absolute;
  right: 15rem;
  top: 150%;
  transition: all 0.2s ease-in-out;
}

.what-right:hover {
  color: #56afee;
  filter: blur(0.5px) drop-shadow(0 0 8px #52a0d8);
  cursor: pointer;
}

.circles {
  display: flex;
  gap: 15px;
  width: 100%;
  justify-content: center;
  margin-top: 15px;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.active-circle {
  background-color: #fff;
}

.circle:hover {
  background-color: #fff;
}

/* features */

.background-features {
  background: url("img/feature/feature.jpg") center no-repeat;
}

.features-title,
.features-header {
  text-transform: uppercase;
}

.wrapper-features {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: auto;
  height: 100%;
  align-items: start;
  justify-content: center;
}

.features-info {
  margin-left: 2.5rem;
  margin-top: 3rem;
}

.features-title {
  font-size: 1.5rem;
  letter-spacing: 3px;
  font-family: var(--family-bold);
  font-weight: normal;
}

.features-header {
  font-size: 6rem;
  font-family: var(--family-bold);
  letter-spacing: 3px;
  line-height: 6rem;
}

.info {
  font-family: var(--family-main);
  font-weight: normal;
  margin: 10px 0;
  display: none;
  color: #fff;
}

.active-info {
  display: block;
}

.block {
  color: #ffb548;
  transition: all 0.2s ease-in-out;
}

.circle-features {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  transform: translate(-2.5rem, -1.7rem);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.circle-features:hover {
  background-color: #fff;
}

.active-features {
  background-color: #fff;
}

/* system */

.background-system {
  background: url("img/system/system.jpg") center no-repeat;
}

.system-title,
.system-header {
  text-transform: uppercase;
  font-family: var(--family-bold);
  text-align: center;
}

.system-title {
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: normal;
  margin-top: 8rem;
}

.system-header {
  font-size: 5rem;
  letter-spacing: 3px;
  line-height: 5rem;
}

.system-table {
  width: 50%;
  margin-top: 8rem;
}

.system-table,
td {
  border: 1px solid #525252;
  border-collapse: collapse;
  padding: 10px 10px 30px 10px;
}

.system-table h1 {
  color: #ffb548;
}

/* quotes */

.background-quotes {
  background: url("img/quotes/quotes.jpg") center no-repeat;
}

.quotes-1 {
  width: 40%;
}

.quotes-title,
.quotes-header {
  text-transform: uppercase;
  font-family: var(--family-bold);
}

.quotes-title {
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 2px;
}

.quotes-header {
  font-size: 5rem;
  letter-spacing: 3px;
  line-height: 5rem;
}

.quotes-info {
  font-family: var(--family-main);
  font-weight: normal;
  font-size: 1rem;
  margin: 40px 0;
}

.wrapper-quotes {
  width: 100%;
  height: 100%;
  align-items: center;
}

.quote {
  background-color: #222222;
  padding: 15px 40px 15px 15px;
  margin-bottom: 30px;
  border-radius: 15px;
  width: 30rem;
}

.quote-photo {
  border-radius: 50%;
  margin-right: 20px;
  filter: drop-shadow(8px 5px 0 #ffb548);
  width: 4rem;
}

.quote-header {
  display: flex;
  align-items: center;
}

.quote-name {
  text-transform: uppercase;
  font-family: var(--family-bold);
  font-weight: normal;
  letter-spacing: 2px;
  color: #ffb548;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.quote-work {
  font-family: var(--family-main);
  font-weight: normal;
  font-size: 1rem;
  color: #646464;
}

.quote-text {
  font-family: var(--family-main);
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 2px;
  margin: 20px 0 10px 0;
}

.quote-date {
  font-family: var(--family-main);
  font-weight: normal;
  font-size: 0.8rem;
  color: #646464;
}

.twitter {
  color: #646464;
  font-size: 20px;
  position: absolute;
  transform: translate(400px, 10px);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.twitter:hover {
  color: #52a0d8;
}

.quote:nth-child(2) {
  transform: translate(-120px);
}

.quote:nth-child(3) {
  transform: translate(-50px);
}

/* subscribe */

.background-subscribe {
  background: url("img/subscribe/subscribe.jpg") center no-repeat;
}

.wrapper-subscribe {
  width: 100%;
  height: 85%;
  align-items: center;
}

.subscribe-title,
.subscribe-header {
  text-transform: uppercase;
}

.subscribe-title {
  font-family: var(--family-bold);
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 2px;
}

.subscribe-header {
  font-family: var(--family-bold);
  font-size: 5rem;
  letter-spacing: 6px;
  line-height: 4rem;
}

.subscribe-text {
  font-size: 1.2rem;
  font-family: var(--family-main);
  font-weight: normal;
  line-height: 1.7rem;
  margin: 30px 0;
  width: 80%;
}

input[type="email"] {
  border: none;
  background: #252525;
  outline: none;
  height: 3rem;
  padding: 10px 0px 10px 15px;
  border-radius: 5px;
  color: #fff;
  width: 50%;
  margin-right: 10px;
}

.form {
  display: flex;
}

.btn-subscribe {
  height: 3rem;
  width: 100%;
}

.form-a {
  width: 30%;
}

.btn-subscribe h3 {
  font-size: 14px;
}

/* footer */

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-block-3 .fa-brands {
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

.footer-block-3 a:not(:last-child) {
  margin-right: 20px;
}

.fa-facebook:hover {
  color: #4e86ad;
}

.fa-twitter:hover {
  color: #52a0d8;
}

.fa-youtube:hover {
  color: #db3232;
}

.fa-twitch:hover {
  color: #ad25c9;
}

.footer-copy {
  display: flex;
  justify-content: space-between;
  font-family: var(--family-main);
  margin-top: 20px;
}

.footer-copy-text {
  font-size: 0.8rem;
  font-weight: normal;
  color: #646464;
}

.footer-copy-privacy {
  font-weight: bold;
  font-size: 0.9rem;
}
